/* stylelint-disable selector-class-pattern */

:root {
	--vp-font-family-base: "InterVariable", "Noto Sans SC", system-ui, sans-serif;
	--vp-font-family-mono: ui-monospace, "JetBrains Mono", "Cascadia Code", "Consolas", "monospace", var(--vp-font-family-base), monospace;
	--vp-home-hero-name-color: transparent;
	--vp-home-hero-name-background: linear-gradient(60deg, #2CA, #EC0);
	--vp-home-hero-image-background-image: linear-gradient(30deg, #EC0 50%, #2CA 50%);
	--vp-home-hero-image-filter: blur(8em);
	--vp-c-default-soft: #BBB3;
	--vp-c-brand-1: #0A8;
	--vp-c-brand-2: #176;
	--vp-c-brand-3: #1A8;
	--vp-c-brand-soft: #2B93;
	--vp-c-bg-a: #FFFA;

	font-variant-alternates: styleset(open-digits, disambiguation, round-quotes-and-commas);
	text-autospace: normal;
}

:root.dark {
	--vp-c-bg-a: #1B1B1F77;
	--vp-c-brand-1: #2B9;
	--vp-c-brand-2: #3CA;
}

::selection {
	background-color: var(--vp-c-brand-soft);
}

@font-face {
	font-family: "LogoSC Unbounded Sans";
	font-stretch: expanded;
	font-weight: 900;
	src: url("/static/LogoSC-Unbounded-Sans.woff2");
}

code, pre {
	text-autospace: none;
}

button > svg:only-child {
	display: block;
}

select, input {
	height: 1.8em;
	border-radius: 0.3rem;
	background-color: var(--vp-c-default-soft);
}

select {
	padding: 0 0.2rem;
	appearance: auto;
}

option {
	background-color: var(--vp-c-bg-soft);
}

input {
	padding: 0 0.5rem;
}

input[type="checkbox"] {
	height: 1.2em;
}

.VPHero .heading,
.font-dela {
	font-family: "Google Sans Flex", "LogoSC Unbounded Sans", sans-serif;
	font-variation-settings: "wdth" 120, "wght" 900;
}

.VPFeature {
	position: relative;
	overflow: hidden;
	z-index: 0;
}

.VPFeature .icon {
	position: absolute;
	opacity: 0.1;
	right: 10%;
	bottom: 5%;
	background-color: transparent;
	font-size: 8em;
	z-index: -1;
}

svg:where(.iconify) {
	display: inline-block;
	flex-shrink: 0;
	font-size: 1.2em;
	vertical-align: sub;
}

.tippy-box {
	padding: 0.3em 0.6em;
	border-radius: 0.5em;
	box-shadow: var(--vp-shadow-3);
	background-color: var(--vp-c-bg-elv);
	font-size: 0.8rem;
	line-height: 1.4;
	color: var(--c-text-2);
}

.tippy-box[data-state="hidden"] {
	opacity: 0;
}

.tippy-box > .tippy-svg-arrow {
	fill: var(--vp-c-bg-elv);
}
